@tailwind base;
@tailwind components;
@tailwind utilities;

.highlight-created {
  background-color: rgb(220 252 231); /* green-100 */
}

.dark .highlight-created {
  background-color: rgb(21 128 61 / 0.2); /* dark:bg-green-900/20 */
}

.highlight-updated {
  background-color: rgb(254 249 195); /* yellow-100 */
}

.dark .highlight-updated {
  background-color: rgb(161 98 7 / 0.2); /* dark:bg-yellow-900/20 */
}

.highlight-deleted {
  background-color: rgb(238, 184, 184); /* red-100 */
}

.dark .highlight-deleted {
  background-color: rgb(153 27 27 / 0.2); /* dark:bg-red-900/20 */
}

@layer base {
  :root {
    --dark-background: 222.2 84% 4.9%;
    --light-background: 0 0% 100%;
    --light--primary-foreground: 210 40% 98%;
    --dark--primary-foreground: 222.2 47.4% 11.2%;
    --light--secondary: 210 40% 96.1%;
    --dark-secondary: 217.2 32.6% 17.5%;
  }

  :root {
    --background: var(--light-background);
    --foreground: var(--dark-background);
    --card: var(--light-background);
    --card-foreground: var(--dark-background);
    --popover: var(--light-background);
    --popover-foreground: var(--dark-background);
    --primary: var(--dark--primary-foreground);
    --primary-foreground: var(--light--primary-foreground);
    --secondary: var(--light--secondary);
    --secondary-foreground: var(--dark--primary-foreground);
    --muted: var(--light--secondary);
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: var(--light--secondary);
    --accent-foreground: var(--dark--primary-foreground);
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: var(--light--primary-foreground);
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: var(--dark-background);
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: var(--dark-background);
    --foreground: var(--light--primary-foreground);
    --card: var(--dark-background);
    --card-foreground: var(--light--primary-foreground);
    --popover: var(--dark-background);
    --popover-foreground: var(--light--primary-foreground);
    --primary: var(--light--primary-foreground);
    --primary-foreground: var(--dark--primary-foreground);
    --secondary: var(--dark-secondary);
    --secondary-foreground: var(--light--primary-foreground);
    --muted: var(--dark-secondary);
    --muted-foreground: 215 20.2% 65.1%;
    --accent: var(--dark-secondary);
    --accent-foreground: var(--light--primary-foreground);
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: var(--light--primary-foreground);
    --border: var(--dark-secondary);
    --input: var(--dark-secondary);
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border box-border m-0 p-0;
  }
  body {
    @apply bg-background text-foreground;
  }
}
